

<div class="row">
  <div class="col-md-10 mx-auto ">
    <div class="card">
        

      <div class="card-body  mx-auto ">
          <h1 class="text-center" >Market-Soft</h1> 
          <br>
          <h2>Mucho más que soluciones corporativas!</h2>
          <br>
          <h3>
            Bienvenido al Sistema Market-Soft <br><br>
            Market-Soft fue desarrollado para ser mucho mas que solo una solucion informatica.
            Mas alla de ofrecer soluciones esta diseñado para proveer la mejor comodidad al usuario. <br><br>
            Esta diseñado de tal forma que el sistema sea elegante y amigable a la vez, entendemos
            que un sistema no es solo cumplir funciones, mas bien ser elegante y amigable al momento de cumplirlos.
            <br><br>
            Para tal objetivo se desarrollo este software. Pruebalo no se arrepentira.

          </h3>
      </div>
    </div>
  </div>
</div>
